.frame {
    display: flex;
    background-color: var(--white);
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    position: relative;
    border-radius: var(--size-300);
    padding: var(--size-300);
    align-items: center;
    width: 80ch;
    gap: var(--size-300);
    max-width: 100%;
    container-type: inline-size;
    container-name: contract-address;
    overflow: hidden;

    /** TODO: Consider accessability */
    &::before {
        content: 'Copied to clipboard';
        position: absolute;
        display: grid;
        inset: 0;
        background-color: var(--white);
        align-items: center;
        justify-content: center;
        font-size: var(--size-600);
        z-index: -1;
    }

    &.copied .address {
        opacity: 0;
    }
}

.label {
    display: grid;
    border-radius: var(--size-200);
    color: var(--white);
    height: 100%;
    background-color: var(--black);
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    user-select: none;
}

.address {
    display: grid;
    flex: 1 10 auto;
    font-size: var(--size-700);
    white-space: nowrap;
    text-wrap: wrap;
    text-overflow: ellipsis;
    overflow: hidden;
    backdrop-filter: blur(8px);
    align-items: center;

    textarea {
        height: var(--size-900);
        width: 100%;
        outline: none;
        border: none;
        overflow: hidden;
        background-color: transparent;
        --webkit-box-shadow: none;
        --moz-box-shadow: none;
        box-shadow: none;
        resize: none;
    }
}

.button {
    overflow: hidden;
    white-space: nowrap;
}

@container (width < 40ch) {
    .button span {
        display: none;
    }

    .button::after {
        content: attr(data-short);
    }
}