.frame {
    display: flex;
    background-color: var(--white);
    border-radius: var(--size-300);
    padding: var(--size-300);
    align-items: center;
    width: 80ch;
    gap: var(--size-300);
    max-width: 100%;
    container-type: inline-size;
    container-name: contract-address;
}

.label {
    display: grid;
    height: 100%;
    border-radius: var(--size-200);
    color: var(--white);
    background-color: var(--black);
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
}

.address {
    flex: 1 10 auto;
    font-size: var(--size-700);
    white-space: nowrap;
    text-wrap: wrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.button {
    overflow: hidden;
    white-space: nowrap;
}

@container (width < 40ch) {
    .address span {
        display: none;
    }

    .address::after {
        content: attr(data-short);
    }

    .button span {
        display: none;
    }

    .button::after {
        content: attr(data-short);
    }
}