.frame {
    grid-column: content;


}

.portion {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--size-100);
    padding: var(--size-100);
    text-align: center;

    .details {
        display: grid;
        padding: var(--size-500);
        text-align: left;
    }
}

.split {
    display: grid;
    gap: var(--size-100);
    padding: var(--size-500);
    text-align: center;
}

.disabled {
    opacity: 0.4;
    text-decoration: line-through;
}