:root {
  --background: #FFF766;
  --foreground: #171717;
  --white: #fff;
  --black: #171717;

  --bg-red-100: #ea916e;

  --bg-red-400: #de3b40;
  --bg-red-500: #c12126;

  --yellow-300: #ffcd02;
  --yellow-400: #e8e391;
  --yellow-500: #FFF766;
  --yellow-600: #e8e391;
  --yellow-700: #FFF985;


  --green-100: #21E56F26;
  --green-500: #21E56F;

  --size-100: 0.35rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 0.875rem;
  --size-500: 1rem;
  --size-600: 1.125rem;
  --size-700: 1.25rem;
  --size-800: 1.5rem;
  --size-900: 1.875rem;

  --column-layout: [full-start] minmax(0, 1fr) [gutter-start] minmax(0.35rem, 2rem) [content-start] minmax(320px, 960px) [content-end] minmax(0.35rem, 2rem) [gutter-end] minmax(0, 1fr) [full-end];
  --panel-layout: repeat(auto-fit, minmax(320px, 1fr));

  --font-leading: "Bangers", serif;
  --font-headline: "Cherry Bomb One", serif;
  --font-body: "Coming Soon", serif;
  --font-base: "Coming Soon", serif;
  --texture-cash: url('/images/cash-texture.png');
  --texture-lambo: url('/images/lambo-texture.png');
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-base), Arial, Helvetica, sans-serif;
  interpolate-size: allow-keywords;
}

mark {
  color: #fff;
  background-color: var(--bg-red-400);
  font-family: var(--font-leading);
  padding: 0.37rem 2rem;
}

dialog {
  outline: none;
  border: none;
}

.text-balance {
  text-wrap: balance;
}

button {
  outline: none;
  border: none;
}