:root {
  --background: linear-gradient(0deg,
      #452E7C 0%,
      #291C2E 100%);
  --foreground: #171717;
  --white: #fff;
  --black: #171717;

  --blue: #38B8FF;
  --pink: #FF2CAD;

  --bg-red-100: #ea916e;

  --bg-red-400: #de3b40;
  --bg-red-500: #c12126;

  --yellow-500: #FFF766;
  --yellow-600: #ffcd02;

  --green-100: #21E56F26;
  --green-500: #21E56F;

  --primary: var(--pink);
  --accent: var(--blue);

  --size-100: 0.35rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 0.875rem;
  --size-500: 1rem;
  --size-600: 1.125rem;
  --size-700: 1.25rem;
  --size-800: 1.5rem;
  --size-900: 1.875rem;

  --column-layout: [full-start] minmax(0, 1fr) [gutter-start] minmax(0.35rem, 2rem) [content-start] minmax(320px, 960px) [content-end] minmax(0.35rem, 2rem) [gutter-end] minmax(0, 1fr) [full-end];
  --panel-layout: repeat(auto-fit, minmax(320px, 1fr));

  --font-headline: "Press Start 2P", system-ui;
  --font-leading: "Kode Mono", monospace;
  --font-body: "Kode Mono", monospace;
  --font-base: "Kode Mono", monospace;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-base), Arial, Helvetica, sans-serif;
  interpolate-size: allow-keywords;
}

mark {
  color: #fff;
  background-color: var(--bg-red-400);
  font-family: var(--font-leading);
  padding: 0.37rem 2rem;
}

dialog {
  outline: none;
  border: none;
}

.text-balance {
  text-wrap: balance;
}

button {
  outline: none;
  border: none;
}

h2 {
  margin: 0;
}