.frame {
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
    gap: 0.5rem;
    background-color: white;
    border-radius: 0.5rem;
    border: 2px solid transparent;

    button {
        visibility: hidden;
        display: none;
    }

    &:has(input:checked) {
        border: 2px solid var(--bg-red-500);
    }

    input {
        display: none;
    }
}

.header h3 {
    text-align: center;
}

.subtitle {
    font-size: 1.5rem;
    text-align: center;
}

.content {
    flex-grow: 1;
}

@container (width > 60ch) {
    .frame {
        gap: 0.1rem;

        button {
            visibility: visible;
            display: initial;
        }
    }

    .highlight {
        box-shadow: 0 2px 6px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
        transform: scale(1.15);
    }
}