.frame {
    grid-column: content;
    display: flex;
    flex-direction: column;
    gap: var(--size-500);
}

.collection {
    grid-column: content;
    container-name: membership-sell;
    container-type: inline-size;
    padding: var(--size-500);
}

.options {
    display: grid;
    gap: var(--size-500);
    grid-template-columns: repeat(auto-fill, minmax(calc(260px - var(--size-500)), 1fr));
}

.header {
    display: grid;
    grid-template-areas: 'title button' 'subtitle button';
    grid-template-columns: 1fr auto;
    align-items: center;

    .title {
        grid-area: title;
    }

    .subtitle {
        grid-area: subtitle;
    }

    button {
        grid-area: button;
    }
}

.cancellation {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .warning {
        color: var(--color-danger);
        text-align: center;
    }
}