.frame {
    display: flex;
    outline: none;
    border: none;
    align-items: center;
    color: var(--black);

    &:not(:empty) {
        gap: var(--size-300);
    }

    &::before,
    &::after {
        content: '';
        background-color: var(--black);
        height: 1px;
        width: 100%;
        min-width: var(--size-300);
    }

    &.left::before {
        display: none;
    }

    &.right::after {
        display: none;
    }
}