.frame {
    grid-column: content;
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    justify-content: space-around;
    align-items: center;
}

.banner {
    display: grid;
    text-align: center;
    gap: var(--size-500);

    img {
        justify-self: center;
    }
}

.title {
    font-size: 2rem;
    text-align: center;
}

.options,
.directive,
.content {
    grid-column: content;
}

.directive {
    display: grid;
    grid-template-areas: "right right" "buy lock" "left left";
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

    *[data-attr='buy'] {
        grid-area: buy;
    }

    *[data-attr='lock'] {
        grid-area: lock;
    }

    .arrow {
        min-height: 120px;
        grid-area: left;
        background: url('/svg/arrow.svg') no-repeat center;
        background-size: contain;

        &[data-attr='right'] {
            grid-area: right;
        }

        &[data-attr='left'] {
            grid-area: left;
        }
    }
}

.options {
    display: grid;
    gap: 1rem;
    text-align: center;
}