.frame {
    grid-column: full;
    display: grid;
    grid-template-columns: var(--column-layout);
    justify-content: center;
    gap: var(--size-900);
}

.header {
    grid-column: content;
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    justify-content: space-around;
    align-items: center;
}

.banner {
    display: grid;
    text-align: center;
    gap: var(--size-500);

    img {
        justify-self: center;
    }
}

.content {
    grid-column: gutter;
    background-color: var(--white);
    padding: var(--size-900);
    border-radius: var(--size-900) var(--size-900) 0 0;
}