.frame {
    grid-column: full;
    position: relative;
    display: grid;
    grid-template-columns: var(--column-layout);
    justify-content: center;
    gap: var(--size-900);
    overflow: hidden;
    perspective: 10px;
    align-items: start;
}

.hero {
    justify-self: center;
    grid-column: content;
    max-width: 100%;
}

.banner {
    grid-column: content;
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    justify-content: space-around;
    align-items: center;
}

.cash {
    grid-column: full;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform: translateZ(-20px) scale(3);
    background-image: url('/svg/cash-midground.svg');

    &::before {
        content: '';
        background-image: url('/svg/cash-background.svg');
    }

    &::after {
        content: '';
        background-image: url('/svg/cash-forground.svg');
    }
}

.navigation {
    display: flex;
    flex-direction: row;
    gap: var(--size-100);
}

.content {
    grid-column: gutter;
    display: grid;
    background-color: var(--white);
    padding: var(--size-500);
    border-radius: var(--size-900) var(--size-900) 0 0;
    align-items: start;
    max-height: 714px;
    transition: max-height 0.2s;

    .header {
        grid-column: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        button {
            background-color: transparent;
        }
    }

    .section {
        padding: var(--size-500);
        gap: var(--size-500);
    }

    .actions {
        display: grid;
        grid-auto-flow: column;
        gap: var(--size-500);
    }
}

.tab {
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: var(--size-300);
    padding: var(--size-200) var(--size-400);
    cursor: pointer;
}