.frame {
    display: flex;
    align-items: center;
    position: relative;
    /** TODO: Make this height dynamic **/
    height: 100px;

    input {
        position: absolute;
        width: 100%;
        height: 100%;
        appearance: none;
        background: transparent;
        pointer-events: all;
        z-index: 1;
        opacity: 0;
    }

    .player {
        position: absolute;
        transform: translate(0%, 0);
        pointer-events: none;
        z-index: 2;
        width: 100px;
        height: 100px;
    }
}