.frame {
    grid-column: span 4;
    display: grid;
    grid-template-columns: subgrid;
    border-radius: var(--size-200);
    padding: var(--size-200);
    color: rgba(0, 0, 0, 0.75);
    border: 2px dashed rgba(255, 255, 255, 0.75);
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 300ms ease-in-out;
    align-items: center;

    &:hover {
        background-color: rgba(255, 255, 255, 0.5);
    }

    img {
        max-height: 46px;
        aspect-ratio: 1;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 100vw;
    }


    .amount {
        font-size: var(--size-700);
        font-weight: bold;
        color: var(--black);
    }
}