.frame {
    height: 100%;
    display: grid;
    grid-template-columns: var(--column-layout);
    grid-template-rows: auto minmax(80%, 1fr);
    align-items: start;

    .full {
        grid-column: full;
    }
}

.header {
    grid-column: full;
    display: grid;
    grid-template-columns: var(--column-layout);
    background-color: var(--bg-red-500);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
}

.main {
    grid-column: full;
    display: grid;
    grid-template-columns: var(--column-layout);
    flex-grow: 1;
}

.promo {
    grid-column: full;
    position: sticky;
    gap: 2rem;
    bottom: 0;
    left: 0;
    right: 0;
}