.frame {
    display: flex;
    flex-direction: column;
    padding: var(--size-500);
    gap: var(--size-500);
    /* background-color: var(--base-900); */
    border-radius: var(--size-500);
    border: 1px solid var(--base-100);
    color: var(--base-700);
}

.header {
    display: flex;
    align-items: center;
    gap: var(--size-500);
}

.icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--base-100);
    aspect-ratio: 1;
}