.frame {
    position: relative;
    display: grid;
    color: white;
    position: relative;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.2);
    min-width: 48px;
    min-height: 48px;
    transition: background-color 300ms;
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }

    &:active {
        background-color: rgba(0, 0, 0, 0.4);
    }

    &::before {
        content: '';
        position: absolute;
        inset: 4px;
        border-radius: 13px;
        font-size: 16px;
        background-color: var(--bg-red-500);
        transition: transform 150ms ease-in-out;
    }

    img {
        align-self: center;
        justify-self: center;
        width: 24px;
        height: 24px;
        z-index: 2;
    }

    /* &:hover::before {
        transform: scale(1.05);
    } */

    /* &.highlight::before {
        color: #ffcd02;
        border: 2px solid #ffcd02;
        background: url('/svg/lightning.svg') no-repeat center center;
        background-color: var(--bg-red-400);
    } */

    .label {
        /* display: none; */
        color: var(--white);
        z-index: 2;
        align-self: center;
        justify-self: center;
        padding: 0 var(--size-200)
    }

    &:disabled {
        background-color: rgba(0, 0, 0, 0.15);
        cursor: not-allowed;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }

        img {
            opacity: 0.5;
        }
    }

    &:disabled::before {
        opacity: 0.8;
    }
}