.frame {
    display: grid;
    padding: var(--size-200);
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    gap: var(--size-200);
    grid-column: gutter;
}

.spacer {
    flex-grow: 2;
    flex-shrink: 3;
}