.frame {
    --primary-500: var(--bg-red-500);

    position: relative;
    display: grid;
    grid-auto-flow: column;
    color: var(--black);
    border-radius: var(--size-300);

    &.dense {
        width: max-content;
    }

    &.outline {
        border: 2px solid var(--tone-300);
    }

    &.rounded {
        border-radius: var(--size-600);
        overflow: hidden;

        .indicator::after {
            border-radius: var(--size-600);
        }
    }

    &.background {
        background-color: var(--tone-100);
    }

    .indicator {
        width: 100%;
        height: 100%;
        position: absolute;
        display: grid;
        grid-auto-flow: column;
        align-items: flex-end;
        justify-items: center;
        transition: all 300ms ease-in-out;
        z-index: 0;

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            transition: all 300ms ease-in-out;
            background-color: var(--primary-500);
            border-radius: var(--size-100);
        }
    }

    &.dot {
        .indicator::after {
            width: 6px;
            height: 6px;
            border-radius: 3px;
        }
    }

    &.underline {
        .indicator::after {
            height: 4px;
            width: 33%;
            border-radius: 2px;
        }
    }

    label:has(input[type='radio']) {
        color: inherit;
        font-size: var(--size-500);
        padding: var(--size-100) var(--size-500);
        appearance: none;
        background-color: transparent;
        border: none;
        transition: color 300ms ease-in-out;
        text-align: center;
        user-select: none;
        cursor: pointer;
        z-index: 1;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        input {
            display: none;
        }

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                color: rgba(0, 0, 0, 0.8);
            }
        }

        &:has(input:checked) {
            color: var(--white);
        }

        &:has(input:disabled) {
            color: var(--tone-300);
            cursor: unset;
        }
    }

    &.dot,
    &.underline {
        label:has(input[type='radio']:checked) {
            color: var(--tone-600);
        }

        label:has(input:disabled) {
            color: var(--tone-300);
        }
    }
}