.frame {
    anchor-name: --member-options;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25);
    font-family: var(--font-leading);
    color: #fff;
    min-width: 96px;
    max-height: 46px;
    font-size: var(--size-500);
    border-radius: var(--size-400);
    padding: var(--size-200);
    gap: var(--size-200);
    cursor: pointer;

    @media screen and (min-width: 768px) {
        border-radius: var(--size-400);
        font-size: var(--size-500);
        padding: var(--size-200);
        gap: var(--size-200);
    }
}

.content {
    flex: 1 1;
    text-align: left;
    display: grid;
    align-items: center;
    grid-template-rows: 1fr auto;
    min-width: 5ch;
    height: 100%;
}

.icon {
    width: 26px;
    aspect-ratio: 1;

    &.badge {
        background: url('/svg/coin.svg') no-repeat center center;
        background-size: contain;
    }

    &.more {
        background: url('/svg/caret-down.svg') no-repeat center center;
    }
}

.progress {
    height: 6px;
    border-radius: 100vw;
    background-color: rgba(0, 0, 0, 0.25);

    @media screen and (min-width: 768px) {
        height: var(--size-200);
    }

    .indicator {
        display: block;
        height: 100%;
        border-radius: 100vw;
        background-color: var(--yellow-300);
        border-top: 2px solid rgba(255, 255, 255, 0.3);
        transition: width 300ms ease-in-out;
    }
}