.outline {
    position: relative;
    min-height: 46px;
    background: rgba(0, 0, 0, 0.75);
    clip-path: polygon(0px 8px, 4px 8px, 4px 4px, 8px 4px, 8px 0,
            calc(100% - 8px) 0, calc(100% - 8px) 4px, calc(100% - 4px) 4px, calc(100% - 4px) 8px, 100% 8px,
            100% calc(100% - 8px), calc(100% - 4px) calc(100% - 8px), calc(100% - 4px) calc(100% - 4px), calc(100% - 8px) calc(100% - 4px), calc(100% - 8px) 100%,
            8px 100%, 8px calc(100% - 4px), 4px calc(100% - 4px), 4px calc(100% - 8px), 0 calc(100% - 8px));
    color: white;
    text-align: center;
    cursor: pointer;
}

.frame {
    --depth: 2px;
    inset: 2px;
    position: absolute;
    background: #FF2CAD;
    clip-path: polygon(0px 8px, 4px 8px, 4px 4px, 8px 4px, 8px 0,
            calc(100% - 8px) 0, calc(100% - 8px) 4px, calc(100% - 4px) 4px, calc(100% - 4px) 8px, 100% 8px,
            100% calc(100% - 8px), calc(100% - 4px) calc(100% - 8px), calc(100% - 4px) calc(100% - 4px), calc(100% - 8px) calc(100% - 4px), calc(100% - 8px) 100%,
            8px 100%, 8px calc(100% - 4px), 4px calc(100% - 4px), 4px calc(100% - 8px), 0 calc(100% - 8px));
    color: white;
    text-align: center;
    display: grid;
    align-items: center;
    font-family: "Kode Mono";

    &:active {
        --depth: 1px;
    }

    &::before {
        content: "";
        inset: 0;
        position: absolute;
        background: rgba(255, 255, 255);
        opacity: 0.3;
        transition: opacity 300ms ease-in-out;
        clip-path: polygon(8px 0, calc(100% - 8px) 0, calc(100% - 8px - var(--depth)) var(--depth), calc(8px + var(--depth)) var(--depth));
    }

    &::after {
        content: "";
        inset: 0;
        position: absolute;
        background: rgba(0, 0, 0);
        opacity: 0.2;
        transition: opacity 300ms ease-in-out;
        clip-path: polygon(100% 8px, calc(100% - var(--depth)) calc(8px + var(--depth)), calc(100% - var(--depth)) calc(100% - 8px - var(--depth)), 100% calc(100% - 8px),
                calc(100% - 4px) calc(100% - 8px), calc(100% - 4px - var(--depth)) calc(100% - 8px - var(--depth)),
                calc(100% - 4px - var(--depth)) calc(100% - 4px - var(--depth)), calc(100% - var(--depth)) calc(100% - var(--depth)),
                calc(100% - 8px) calc(100% - 4px), calc(100% - 8px - var(--depth)) calc(100% - 4px - var(--depth)), calc(100% - 8px - var(--depth)) calc(100% - var(--depth)),
                calc(8px + var(--depth)) calc(100% - var(--depth)), 8px 100%, 100% 100%);
    }

    &:active::before,
    &:active::after {
        opacity: 0.2;
    }
}